server {
    listen 80 default_server;
    listen [::]:80 default_server;

    include /etc/nginx/mime.types;
    default_type text/plain;

    resolver 127.0.0.11 10.40.2.98;
    
    root /var/www/html;
        index index.html index.htm;
    
    
    server_name _;

    location / {
        # First attempt to serve request as file, then
        # as directory, then fall back to displaying a 404.
        try_files $uri $uri/ =404;
        fancyindex on;
		    fancyindex_exact_size on;
	    	fancyindex_localtime on;
    }
}